<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>
        {{postTitle}}
      </h2>
    </div>
    <div class="col-sm-4">
      {{ lastUpdate | date: 'dd/MM/yy, hh:mm a' }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{postText}}<br /><br />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <button class="btn btn-success">Love it!</button>
    </div>
    <div class="col-sm-1">
      <button class="btn btn-danger">Don't love it!</button>
      <br /><br />
    </div>
  </div>
</div>
